<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="WorkspaceID" value="0"/>

	<add key="SQLServerHostName" value="url"/>
	<add key="SQLServerUsername" value="user"/>
	<add key="SQLServerPassword" value="pass"/>

	<add key="RsapiUrl" value="url"/>
	<add key="RsapiUsername" value="user"/>
	<add key="RsapiPassword" value="account!"/>

	<add key="SMTPServer" value="url"/>
	<add key="SMTPPort" value="0"/>
	<add key="SMTPFromEmailAddress" value="email"/>
	<add key="SMTPUsername" value="user"/>
	<add key="SMTPPassword" value="pass"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
