<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Polly" version="1.0.0" targetFramework="net451" />
  <package id="Relativity.Api" version="9.5.162.111" targetFramework="net452" />
  <package id="Relativity.RowDataGateway" version="9.5.162.111" targetFramework="net452" />
  <package id="Relativity.Rsapi" version="9.5.162.111" targetFramework="net452" />
</packages>