<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="appSettings.config">
    <add key="RSAPIServerAddress" value=""/>
    <add key="RESTServerAddress" value=""/>
    <add key="AdminUsername" value=""/>
    <add key="AdminPassword" value=""/>
    <add key="SQLServerAddress" value=""/>
    <add key="SQLUsername" value=""/>
    <add key="SQLPassword" value=""/>
    <add key="TestWorkspaceName" value="Gravity Integration Tests"/>
    <add key="ServerBindingType" value="http"/>
    <add key="TestWorkspaceTemplateName" value="kCura Starter Template"/>
    <!--Location of Gravity Demo application needed for testing-->
    <add key="TestApplicationLocation" value="S:\SourceCode\Fest2017\Gravity\Gravity\Gravity.Test\RelativityApplication\GravityDemo.rap"/>
    <add key="TestApplicationName" value="Gravity Demo"/>
    <!--If Debug is set to true then a workspace is not created or deleted and application is not installed.  Set to false for production-->
    <add key="Debug" value="false"/>
    <!--DebugWorkspaceId should be 0 if not used -->
    <add key="DebugWorkspaceId" value="1020846"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>