<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--9.5.162.11 is the last version to support net451-->
  <package id="Relativity.Api" version="9.5.162.111" allowedVersions="[9.4.224.2, 9.5.162.111]" targetFramework="net451" />
  <package id="Relativity.RowDataGateway" version="9.5.162.111" allowedVersions="[9.4.224.2, 9.5.162.111]" targetFramework="net451" />
  <package id="Relativity.Rsapi" version="9.5.162.111" allowedVersions="[9.4.224.2, 9.5.162.111]" targetFramework="net451" />
</packages>