<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="appSettings.config">
    <add key="WorkspaceID" value="1234567"/>
    <add key="RSAPIServerAddress" value=""/>
    <add key="RESTServerAddress" value=""/>
    <add key="AdminUsername" value=""/>
    <add key="AdminPassword" value=""/>
    <add key="SQLServerAddress" value=""/>
    <add key="SQLUsername" value=""/>
    <add key="SQLPassword" value=""/>
    <add key="TestWorkspaceName" value=""/>
    <add key="ServerBindingType" value="http"/>
    <add key="TestWorkspaceTemplateName" value="kCura Starter Template"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
